#title
{
	background-image: url("hbdc1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5% 10% 3.5% 10%;
}
body
{
	text-align: center;
}
.navbar
{
	margin-bottom: 50px;
	font-family: 'monteserrat', sans-serif;
	font-weight: bold;
}
.navbar-brand
{
	margin-left: 0px;
	padding: 0 0;
}
.nav-item
{
	padding: 0 18px;
}
@media (max-width: 991px)
{
	.nav-link
	{
		text-align: left;
	}
}
.title-write
{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}
.whi
{
	color: whitesmoke;
	font-size: 1.7rem;
}

.testimonials
{
	background-color: tomato;
	font-family: 'Sacramento-bold', cursive;
	line-height: 2;
	text-align: center;
	padding: 2% 5% 3%;
}
.test-im
{
	border-radius: 100%;
	height: 300px;
	width: 300px;
	margin-top: 50px;
}
.carousel-item
{
	padding: 5% 15%;
}
.address
{
	color: white;
}
h2
{
	color: white;
	font-weight: bold;
	font-size: 3rem;
}
.brek
{
	background-color: lightskyblue;
	font-family: 'Montserrat', sans-serif;
	padding: 5% 12%;
	color: brown;
	text-align: center;
}
#vid
{
	text-align: center;
	background-color: peachpuff;
	padding: 5% 10%;
}
#foot
{
	background-color: rosybrown;
	font-family: 'Montserrat', sans-serif;
	padding: 5% 10% 2% 10%;
	text-align: center;
}
.btn
{
	margin: 20px;
	font-family: 'monteserrat', sans-serif;
}
.row
{
	text-align: center;
}
@media (max-width: 991px)
{
	.test-im
	{
		border-radius: 100%;
		height: 250px;
		width: 250px;
		margin-top: 50px;
	}
}
.testimonials
{
	background-image: url("ydhnt_blur.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5% 10% 3.5% 10%;
}
#roy
{
	background-image: url("roy_blur.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5% 10% 3.5% 10%;
}