body
{
	text-align: center;
	background-color: blueviolet;
}

.row
{
	padding: 3% 8%;
}
.navbar
{
	margin-bottom: 50px;
	font-family: 'monteserrat', sans-serif;
	font-weight: bold;
}
.navbar-brand
{
	font-size: 3.5rem;
	margin-left: 0px;
	padding: 0 0;
}
.nav-item
{
	padding: 0 18px;
}
@media (max-width: 991px)
{
	.nav-link
	{
		text-align: left;
	}
}
h6
{
	color: maroon;
	font-size: 1.5rem;
}
#title
{
	padding: 5% 10% 1% 10%;
	font-family: 'Montserrat', sans-serif;
}
.title-write
{
	text-align: left;
}
.title-img
{
	height: 500px;
	width: 350px;
	transform: rotate(20deg);
	position: absolute;
	left: 200px;
}
.whi
{
	color: whitesmoke;
	font-size: 1.7rem;
}
.midd
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.middle
{
	position: relative;
	padding-top: 3%;
	background-color: skyblue;
	font-family: 'Marcellus', serif;
	padding-left: 8%;
	padding-right: 8%; 
}

@media (max-width: 1147px)
{
	.title-img
	{
		position: static;
		transform: rotate(0);
		height: 300px;
		width: 200px;
	}
	.mob
	{
		text-align: center;
	}
}

.thumbnail
{
	height: 300px;
	width: 250px;
	border-radius: 10%;
	margin: 30px;
}
@media (max-width: 768px)
{
	.middle, #weird
	{
		padding: 5%;
	}

}
.barrier
{
	background-color: blueviolet;
	padding: 2% 6%;
}
#weird
{
	position: relative;
	padding: 5% 20%;
	background-color: ghostwhite;
}
.barrier h1
{
	color: snow;
}
#testimonials
{
	background-color: skyblue;
	font-family: 'Sacramento-bold', cursive;
	line-height: 2;
}
.test-im
{
	border-radius: 100%;
	height: 300px;
	width: 300px;
	margin-top: 50px;
}
#testimonials-img
{
	background-color: #ef8172;
	padding-bottom: 5%;
}
.carousel-item
{
	padding: 5% 15%;
}
.address
{
	color: white;
}
h2
{
	color: white;
	font-weight: bold;
	font-size: 3rem;
}
#foot
{
	background-color: rosybrown;
	font-family: 'Montserrat', sans-serif;
	padding: 5% 10% 2% 10%;
}
.btn
{
	margin: 20px;
	font-family: 'monteserrat', sans-serif;
}
.row
{
	text-align: center;
	margin-right: 10px;
	margin-left: 20px;
}
.flip{
  transform: rotateX(360deg);
  transition: transform .6s;
}
.flip-box {
  background-color: transparent;
  width: 250px;
  height: 300px;
  border-radius: 10%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}