img
{
	height: 100%;
	width: 100%;
}
.navbar
{
	font-family: 'monteserrat', sans-serif;
	font-weight: bold;
}
.navbar-brand
{
	font-size: 30px;
	margin-left: 0px;
	padding: 0 0;
}
.nav-item
{
	padding: 0 18px;
}
#mid
{
	text-align: center;
	font-family: 'monteserrat', sans-serif;
	color: white;
}
#write1
{
	padding: 10% 12%;
	color: lightblue;
	text-align: left;
	background-image: url("hbdc.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#write
{
	padding: 1% 12%;
	color: lightblue;
	text-align: left;
}
#bor
{
	font-size: 2rem;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
.foim
{
	text-align: center;
	padding: 7%;
}
.circ
{
	border-radius: 100%;
	height: 300px;
	width: 300px;
}
.row
{
	margin-top: 50px;
}
.mi
{
	text-align: center;
}
.btn
{
	margin: 20px;
	font-family: 'monteserrat', sans-serif;
}
@media (max-width: 991px)
{
	.nav-link
	{
		text-align: left;
	}
	#write
	{
		padding: 1% 6%;
		color: lightblue;
		text-align: left;
	}
}
#foot
{
	text-align: center;
	background-color: rosybrown;
	font-family: 'Montserrat', sans-serif;
	padding: 5% 10% 2% 10%;
}